 

  <h2>Chi tiết sản phẩm</h2>
  <div class="row">
     <div ngClass="col-lg-4 col-md-6 mb-4" *ngIf="product">
      <div class="card h-100">
        <div class="card-body">
          <h4 class="card-title">
            Name:<a href="#">{{product.name}}</a>
          </h4>
          Price:<h5>${{product.price}}</h5>
          Desc:<p class="card-text">{{product.desc}}</p>
          Status:<p class="card-text">{{product.status}}</p>
          Imanges:<p class="card-text">{{product.img}}</p>
        </div>
        
      </div>
    </div>
  
  </div>