<table class="table">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Price</th>
        <th scope="col">Desk</th>
        <th scope="col">Status</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products" >
        <th scope="row">{{product.name}}</th>
        <td>${{product.price}}</td>
        <td>{{product.desc}}</td>
        <td>{{product.status ? 'In stock': 'Out stock'}}</td>
        <td><button class="btn btn-primary"  (click)="removeItem(product.id)">Delete</button></td>
        <td><button class="btn btn-primary" routerLink="/product/{{product.id}}">Chi tiết</button></td>
        <td><button class="btn btn-primary" routerLink="/product/edit/{{product.id}}" >Sửa</button></td>
      </tr>
      
    </tbody>
  </table>